body{
    color: white;
}
ul, ol, h2, h1{
margin: 0;

}

header{
    background-color: red;
    text-align: center;
    font-size: 26px;
}

nav{
background-color: #FF9900;
font-size: 24px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
    
}

nav li{
    padding: 0 10px;
    
}

nav a{
    color: white;
}

main{
    background-color: #05A142;
}
main .container{
    padding: 13px;
}

article{
    background-color: #1419FF;
    padding: 0 10px 25px;
}

article h2{
padding: 20px 0;

}

article:first-child{
    margin-bottom: 8px;
}

footer{
background-color: #BC00FF;
text-align: center;
font-size: 50px;
}