.modal{
    position: fixed;
    font-family: "Inter", sans-serif;
    background-color: rgba(196, 196, 196, 0.5);
    display: none;
    top:0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.modal__wrapper{
    position: absolute;
    background-color: var(--white);
    border-radius: 8px;
    padding: 30px 40px 33px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--grey-blue);
    margin-bottom: 14px;
}

.modal__close{
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.modal__content{
    max-width: 348px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}