.tooltip{
    font-family: "Inter", sans-serif;
    display: inline-block;
    position: relative;
    
   
}

.tooltip__trigger{
   cursor: pointer; 
    
}

.tooltip__bubble{
    display: none;
    background-color: var(--blue);
    color: var(--grey-2);
    padding: 13px 21px 8px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    text-align: center;
}

.tooltip__bubble::after{
    content: "";
    border: 7px solid transparent;
    border-bottom-color: var(--blue);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

}

.tooltip__trigger:hover~.tooltip__bubble{
    display: block;
    position: absolute;
    top: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
}